body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-blend {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #444, #222);
    color: #fff; /* Set text color to white for better contrast */
    text-align: center;
}

h1, p {
    margin: 10px 0;
}
